Repository getsentry/snuba, pull requests merged in 2023-07, with the labels that each got.

#4493 Revert "ref: Remove old query status field"
  snuba/querylog/__init__.py
  snuba/querylog/query_metadata.py
  snuba/web/db_query.py
  tests/datasets/test_querylog_processor.py
  tests/test_snql_api.py
  tests/web/test_db_query.py
Labels: Trigger: Revert

#4467 feat(generic-metrics): Add aggregation options for generic metrics raw tables
  snuba/migrations/group_loader.py
  snuba/snuba_migrations/generic_metrics/0014_distribution_add_options.py
  snuba/snuba_migrations/generic_metrics/0015_sets_add_options.py
  snuba/snuba_migrations/generic_metrics/0016_counters_add_options.py
Labels: migrations

#4469 feat(replays): Add migration for click_is_dead and click_is_rage columns
  snuba/migrations/group_loader.py
  snuba/snuba_migrations/replays/0011_add_is_dead_rage.py
Labels: migrations

#4504 feat(generic-metrics): Add new MatView for generic distribution metrics
  snuba/migrations/group_loader.py
  snuba/snuba_migrations/generic_metrics/0017_distributions_mv2.py
Labels: migrations

#4496 migration(group_attributes): create new GroupAttributes table that mirrors a subset of columns from sentry
  snuba/clusters/storage_sets.py
  snuba/migrations/group_loader.py
  snuba/migrations/groups.py
  snuba/settings/__init__.py
  snuba/settings/settings_distributed.py
  snuba/settings/settings_test_distributed_migrations.py
  snuba/snuba_migrations/group_attributes/0001_group_attributes.py
Labels: migrations, skip-check-migrations

#4567 feat(group-attributes): Migration readiness state = partial
  snuba/migrations/groups.py
Labels: migrations
