Repository getsentry/snuba, changes with the owners that CODEOWNERS names for each.
All owners: @getsentry/owners-snuba, @getsentry/issues, @getsentry/performance, @getsentry/profiling, @getsentry/replay-backend, @getsentry/telemetry-experience, @getsentry/processing, @getsentry/owners-legal, @getsentry/releases

dont check system tables anymore
  tests/test_search_issues_api.py
Owners: @getsentry/owners-snuba

fix(transactions): Select transactions entity when using profiler id (#6133)
  snuba/query/snql/discover_entity_selection.py
  tests/fixtures.py
  tests/test_snql_api.py
Owners: @getsentry/owners-snuba

feat(cleanup): remove complicated readthrough cache (#6130)
  snuba/state/cache/abstract.py
  snuba/state/cache/redis/backend.py
  snuba/state/cache/redis/scripts/get.lua
  snuba/state/cache/redis/scripts/set.lua
  snuba/web/db_query.py
  tests/state/test_cache.py
  tests/web/test_cache_partitions.py
  tests/web/test_db_query.py
  tests/web/test_query_cache.py
Owners: @getsentry/owners-snuba

add test
  tests/test_metrics_mql_api.py
Owners: @getsentry/owners-snuba

fix
  snuba/query/joins/metrics_subquery_generator.py
  snuba/query/mql/context_population.py
  tests/test_metrics_mql_api.py
Owners: @getsentry/owners-snuba

add test
  snuba/query/mql/context_population.py
  tests/test_metrics_mql_api.py
Owners: @getsentry/owners-snuba

e to the a to the p
  snuba/clusters/storage_sets.py
  snuba/migrations/group_loader.py
  snuba/migrations/groups.py
  snuba/settings/__init__.py
  snuba/settings/settings_distributed.py
  snuba/settings/settings_test_distributed_migrations.py
  snuba/snuba_migrations/events_analytics_platform/0001_spans_v2.py
Owners: @getsentry/owners-snuba

Fix sample by
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
Owners: @getsentry/owners-snuba

Undo test change
  tests/datasets/test_spans_payloads.py
Owners: @getsentry/owners-snuba

Add operation targets
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
Owners: @getsentry/owners-snuba

reinterpret sharding key?
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
Owners: @getsentry/owners-snuba

fix mypy?
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
Owners: @getsentry/owners-snuba

Partition by sort timestamp
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
Owners: @getsentry/owners-snuba

Delete sample by for now
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
Owners: @getsentry/owners-snuba

dolla dolla
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
Owners: @getsentry/owners-snuba

MORE BUCKETS
  snuba/snuba_migrations/events_analytics_platform/0001_spans_v2.py
Owners: @getsentry/owners-snuba

Add definitions + migrations for spans v2
  snuba/clusters/storage_sets.py
  snuba/migrations/group_loader.py
  snuba/migrations/groups.py
  snuba/migrations/table_engines.py
  snuba/settings/__init__.py
  snuba/settings/settings_distributed.py
  snuba/settings/settings_test_distributed_migrations.py
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
  snuba/utils/schemas.py
  tests/datasets/test_spans_payloads.py
Owners: @getsentry/owners-snuba

UInt sign -> int
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
  snuba/utils/schemas.py
Owners: @getsentry/owners-snuba

I SAID MORE BUCKETS!!!!
  snuba/snuba_migrations/events_analytics_platform/0001_spans.py
Owners: @getsentry/owners-snuba

comment out for now
  tests/test_search_issues_api.py
Owners: @getsentry/owners-snuba

remove unneeded
  snuba/clickhouse/formatter/query.py
Owners: @getsentry/owners-snuba

add rate limit
  snuba/web/views.py
Owners: @getsentry/owners-snuba

fix test
  tests/query/joins/test_metrics_subqueries.py
Owners: @getsentry/owners-snuba

release: 24.7.1
  CHANGELOG.md
  docs/source/conf.py
  setup.py
Owners: @getsentry/owners-snuba

ref(snuba-deletes): Basic delete API (#6132)
  snuba/clickhouse/formatter/query.py
  snuba/clickhouse/query.py
  snuba/clusters/cluster.py
  snuba/datasets/configuration/issues/storages/search_issues.yaml
  snuba/query/__init__.py
  snuba/web/converters.py
  snuba/web/delete_query.py
  snuba/web/views.py
  tests/clickhouse/test_query_format.py
  tests/test_search_issues_api.py
Owners: @getsentry/owners-snuba, @getsentry/issues

meta: Bump new development version
  docs/source/conf.py
  setup.py
Owners: @getsentry/owners-snuba

Fix test?
  snuba/migrations/operations.py
  snuba/snuba_migrations/events_analytics_platform/0001_spans.py
Owners: @getsentry/owners-snuba

Add service column
  snuba/migrations/operations.py
  snuba/snuba_migrations/events_analytics_platform/0001_spans.py
Owners: @getsentry/owners-snuba

feat(profiling): Write thread id to transactions table
  snuba/datasets/processors/transactions_processor.py
  tests/datasets/test_transaction_processor.py
Owners: @getsentry/owners-snuba

Events Analytics Platform spans + models (#6134)
  snuba/clusters/storage_sets.py
  snuba/migrations/group_loader.py
  snuba/migrations/groups.py
  snuba/migrations/operations.py
  snuba/migrations/table_engines.py
  snuba/settings/__init__.py
  snuba/settings/settings_distributed.py
  snuba/settings/settings_test_distributed_migrations.py
  snuba/snuba_migrations/events_analytics_platform/0001_spans.py
  snuba/utils/schemas.py
Owners: @getsentry/owners-snuba

ci: bump dependency review action
  .github/workflows/dependency-review.yml
Owners: @getsentry/owners-snuba

fix(metrics_summaries): Handle null values for optional fields
  rust_snuba/src/processors/metrics_summaries.rs
Owners: @getsentry/owners-snuba, @getsentry/processing

Add a null value to the test
  rust_snuba/src/processors/metrics_summaries.rs
Owners: @getsentry/owners-snuba, @getsentry/processing

Except only count
  rust_snuba/src/processors/metrics_summaries.rs
Owners: @getsentry/owners-snuba, @getsentry/processing

ref: bump sentry-kafka-schemas to 0.1.103
  requirements.txt
Owners: @getsentry/owners-snuba

ref: bump sentry-kafka-schemas Rust package to 0.1.103
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
Owners: @getsentry/owners-snuba, @getsentry/processing

Add new valid example
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-metrics-summaries-MetricsSummariesMessageProcessor-snuba-metrics-summaries__1__only_count.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__snuba-metrics-summaries-.snap
Owners: @getsentry/owners-snuba, @getsentry/processing

fix parser tests
  tests/query/parser/test_parser.py
Owners: @getsentry/owners-snuba

ref: bump sentry-kafka-schemas to 0.1.103 (#6141)
  requirements.txt
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-metrics-summaries-MetricsSummariesMessageProcessor-snuba-metrics-summaries__1__only_count.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__snuba-metrics-summaries-.snap
Owners: @getsentry/owners-snuba, @getsentry/processing

bug(mql): Fix MQL formula queries with totals and no groupby (#6136)
  snuba/clickhouse/formatter/query.py
  snuba/query/data_source/join.py
  snuba/query/formatters/tracing.py
  snuba/query/joins/metrics_subquery_generator.py
  snuba/query/mql/context_population.py
  snuba/query/mql/parser_supported_join.py
  tests/query/joins/test_metrics_subqueries.py
  tests/query/parser/test_formula_mql_query.py
  tests/query/parser/test_parser.py
  tests/test_metrics_mql_api.py
Owners: @getsentry/owners-snuba

CODEOWNERS:

# Use owners-snuba by default
* @getsentry/owners-snuba

# datasets
/snuba/datasets/configuration/issues                @getsentry/issues @getsentry/owners-snuba
/snuba/datasets/configuration/group_attributes      @getsentry/issues @getsentry/owners-snuba
/snuba/datasets/configuration/groupedmessage        @getsentry/issues @getsentry/owners-snuba
/snuba/datasets/configuration/groupassignee         @getsentry/issues @getsentry/owners-snuba
/snuba/datasets/configuration/spans                 @getsentry/performance @getsentry/owners-snuba
/snuba/datasets/configuration/transactions          @getsentry/performance @getsentry/owners-snuba
/snuba/datasets/configuration/functions             @getsentry/profiling @getsentry/owners-snuba
/snuba/datasets/configuration/profiles              @getsentry/profiling @getsentry/owners-snuba
/snuba/datasets/configuration/replays               @getsentry/replay-backend @getsentry/owners-snuba
/snuba/datasets/configuration/metrics               @getsentry/telemetry-experience @getsentry/owners-snuba

# rust_snuba
/rust_snuba @getsentry/owners-snuba @getsentry/processing
/rust_snuba/src/processors/replays.rs @getsentry/replay-backend

# Legal
/LICENSE.md  @getsentry/owners-legal

# Build & Releases
/.github/workflows/release.yml  @getsentry/releases
/.craft.yml                     @getsentry/releases
/docker-compose.gcb.yml         @getsentry/releases
/docker-compose.yml             @getsentry/releases
/docker_entrypoint.sh           @getsentry/releases
/cloudbuild.yaml                @getsentry/releases
/scripts/bump-version.sh        @getsentry/releases
/scripts/post-release.sh        @getsentry/releases
