Repository getsentry/snuba, changes with the owners that CODEOWNERS names for each.
All owners: @getsentry/owners-snuba, @getsentry/issues, @getsentry/performance, @getsentry/profiling, @getsentry/replay-backend, @getsentry/telemetry-experience, @getsentry/processing, @getsentry/owners-legal, @getsentry/releases

support max_bytes_before_external_group_by ClickHouse insert flag (#6118)
  rust_snuba/benches/processors.rs
  rust_snuba/src/consumer.rs
  rust_snuba/src/factory.rs
  rust_snuba/src/strategies/clickhouse/batch.rs
  snuba/cli/rust_consumer.py
Owners: @getsentry/owners-snuba, @getsentry/processing

Add an inner join relationship for search_issues and group_attributes
  snuba/datasets/configuration/issues/entities/search_issues.yaml
Owners: @getsentry/issues, @getsentry/owners-snuba

create parse_and_run_query function
  snuba/web/query.py
  snuba/web/views.py
Owners: @getsentry/owners-snuba

add docstring
  snuba/web/query.py
Owners: @getsentry/owners-snuba

update docstring
  snuba/web/query.py
Owners: @getsentry/owners-snuba

add a test
  snuba/web/query.py
  tests/web/test_parse_and_run_query.py
Owners: @getsentry/owners-snuba

mypy + admin fixes
  snuba/admin/production_queries/prod_queries.py
  snuba/admin/views.py
  snuba/web/views.py
  tests/web/test_parse_and_run_query.py
Owners: @getsentry/owners-snuba

Add an inner join relationship for search_issues and group_attributes (#6119)
  snuba/datasets/configuration/issues/entities/search_issues.yaml
Owners: @getsentry/issues, @getsentry/owners-snuba

add a test for mql
  tests/web/test_parse_and_run_query.py
Owners: @getsentry/owners-snuba

no longer important test
  tests/admin/test_api.py
Owners: @getsentry/owners-snuba

feat(transactions): Make profiler queryable
  snuba/datasets/configuration/discover/entities/discover.yaml
  snuba/datasets/configuration/discover/entities/discover_events.yaml
  snuba/datasets/configuration/discover/entities/discover_transactions.yaml
  snuba/datasets/configuration/transactions/entities/transactions.yaml
  snuba/datasets/configuration/transactions/storages/transactions.yaml
Owners: @getsentry/owners-snuba, @getsentry/performance

Add processor for new spans schema
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/processors/spans.rs
  rust_snuba/src/processors/spans_v2.rs
  snuba/datasets/processors/spans_v2_processor.py
Owners: @getsentry/owners-snuba, @getsentry/processing

Give telemetry experience team access to cardinality analyzer (#6115)
  snuba/admin/iam_policy/iam_policy.json
Owners: @getsentry/owners-snuba

init
  MIGRATIONS.md
  snuba/cli/migrations.py
  snuba/snuba_migrations/README.md
Owners: @getsentry/owners-snuba

comment
  snuba/migrations/group_loader.py
Owners: @getsentry/owners-snuba

feat(profiling): Write profiler_id to transactions table (#6111)
  snuba/datasets/processors/transactions_processor.py
  tests/datasets/test_transaction_processor.py
Owners: @getsentry/owners-snuba

Add test
  rust_snuba/src/processors/snapshots/rust_snuba__processors__spans_v2__tests__serialization.snap
  rust_snuba/src/processors/spans_v2.rs
Owners: @getsentry/owners-snuba, @getsentry/processing

ref(lwdeletes): create parse_and_run_query function (#6120)
  snuba/admin/production_queries/prod_queries.py
  snuba/admin/views.py
  snuba/web/query.py
  snuba/web/views.py
  tests/admin/test_api.py
  tests/web/test_parse_and_run_query.py
Owners: @getsentry/owners-snuba

init
  snuba/migrations/operations.py
Owners: @getsentry/owners-snuba

chore: update some readmes related to migrations and autogen (#6076)
  MIGRATIONS.md
  snuba/cli/migrations.py
  snuba/migrations/group_loader.py
  snuba/snuba_migrations/README.md
Owners: @getsentry/owners-snuba

More buckets, fix test flake
  rust_snuba/src/processors/snapshots/rust_snuba__processors__spans_v2__tests__serialization.snap
  rust_snuba/src/processors/spans_v2.rs
  snuba/cli/devserver.py
Owners: @getsentry/owners-snuba, @getsentry/processing

lint
  rust_snuba/src/processors/spans_v2.rs
Owners: @getsentry/owners-snuba, @getsentry/processing

fix tests
  tests/query/parser/unit_tests/test_parse_populate_resolve_mql.py
Owners: @getsentry/owners-snuba

add timestamp as join condition in totals formula query
  snuba/query/mql/parser_supported_join.py
  tests/query/parser/test_formula_mql_query.py
Owners: @getsentry/owners-snuba

Remove cityhash
  rust_snuba/Cargo.lock
  rust_snuba/Cargo.toml
  rust_snuba/src/processors/snapshots/rust_snuba__processors__spans_v2__tests__serialization.snap
  rust_snuba/src/processors/spans_v2.rs
Owners: @getsentry/owners-snuba, @getsentry/processing

Add test for half_md5
  rust_snuba/src/processors/spans_v2.rs
Owners: @getsentry/owners-snuba, @getsentry/processing

Lint + test
  rust_snuba/src/processors/spans_v2.rs
  tests/test_spans_api.py
Owners: @getsentry/owners-snuba, @getsentry/processing

fix totals queries and tests
  snuba/query/mql/context_population.py
  snuba/query/mql/parser_supported_join.py
  tests/query/parser/test_formula_mql_query.py
  tests/test_metrics_mql_api.py
Owners: @getsentry/owners-snuba

fix test
  tests/query/parser/test_parser.py
Owners: @getsentry/owners-snuba

Add definitions + migrations for spans v2
  snuba/clusters/storage_sets.py
  snuba/migrations/group_loader.py
  snuba/migrations/groups.py
  snuba/migrations/table_engines.py
  snuba/settings/__init__.py
  snuba/settings/settings_distributed.py
  snuba/settings/settings_test_distributed_migrations.py
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
  snuba/utils/schemas.py
  tests/datasets/test_spans_payloads.py
Owners: @getsentry/owners-snuba

Add operation targets
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
Owners: @getsentry/owners-snuba

code
  snuba/datasets/configuration/issues/storages/search_issues.yaml
  tests/query/processors/test_column_filter_processor.py
Owners: @getsentry/issues, @getsentry/owners-snuba

timeout error
  snuba/migrations/operations.py
Owners: @getsentry/owners-snuba

UInt sign -> int
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
  snuba/utils/schemas.py
Owners: @getsentry/owners-snuba

Partition by sort timestamp
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
Owners: @getsentry/owners-snuba

dolla dolla
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
Owners: @getsentry/owners-snuba

bug(mql): Fix MQL totals queries (#6125)
  snuba/query/mql/context_population.py
  snuba/query/mql/parser_supported_join.py
  tests/query/parser/test_formula_mql_query.py
  tests/query/parser/test_parser.py
  tests/test_metrics_mql_api.py
Owners: @getsentry/owners-snuba

feat(transactions): Make profiler queryable (#6122)
  snuba/datasets/configuration/discover/entities/discover.yaml
  snuba/datasets/configuration/discover/entities/discover_events.yaml
  snuba/datasets/configuration/discover/entities/discover_transactions.yaml
  snuba/datasets/configuration/transactions/entities/transactions.yaml
  snuba/datasets/configuration/transactions/storages/transactions.yaml
Owners: @getsentry/owners-snuba, @getsentry/performance

Fix sample by
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
Owners: @getsentry/owners-snuba

Delete sample by for now
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
Owners: @getsentry/owners-snuba

CODEOWNERS:

# Use owners-snuba by default
* @getsentry/owners-snuba

# datasets
/snuba/datasets/configuration/issues                @getsentry/issues @getsentry/owners-snuba
/snuba/datasets/configuration/group_attributes      @getsentry/issues @getsentry/owners-snuba
/snuba/datasets/configuration/groupedmessage        @getsentry/issues @getsentry/owners-snuba
/snuba/datasets/configuration/groupassignee         @getsentry/issues @getsentry/owners-snuba
/snuba/datasets/configuration/spans                 @getsentry/performance @getsentry/owners-snuba
/snuba/datasets/configuration/transactions          @getsentry/performance @getsentry/owners-snuba
/snuba/datasets/configuration/functions             @getsentry/profiling @getsentry/owners-snuba
/snuba/datasets/configuration/profiles              @getsentry/profiling @getsentry/owners-snuba
/snuba/datasets/configuration/replays               @getsentry/replay-backend @getsentry/owners-snuba
/snuba/datasets/configuration/metrics               @getsentry/telemetry-experience @getsentry/owners-snuba

# rust_snuba
/rust_snuba @getsentry/owners-snuba @getsentry/processing
/rust_snuba/src/processors/replays.rs @getsentry/replay-backend

# Legal
/LICENSE.md  @getsentry/owners-legal

# Build & Releases
/.github/workflows/release.yml  @getsentry/releases
/.craft.yml                     @getsentry/releases
/docker-compose.gcb.yml         @getsentry/releases
/docker-compose.yml             @getsentry/releases
/docker_entrypoint.sh           @getsentry/releases
/cloudbuild.yaml                @getsentry/releases
/scripts/bump-version.sh        @getsentry/releases
/scripts/post-release.sh        @getsentry/releases
