Repository getsentry/snuba, changes with the owners that CODEOWNERS names for each.
All owners: @getsentry/owners-snuba, @getsentry/issues, @getsentry/performance, @getsentry/profiling, @getsentry/replay-backend, @getsentry/telemetry-experience, @getsentry/processing, @getsentry/owners-legal, @getsentry/releases

code
  snuba/datasets/storage.py
  snuba/query/deletions/max_rows_enforcer.py
  snuba/query/exceptions.py
  snuba/request/__init__.py
  tests/query/processors/test_max_rows_enforcer.py
  tests/web/test_parse_and_run_query.py
Owners: @getsentry/owners-snuba

fix: wait on system.mutations between hosts during migration execution (#6121)
  snuba/migrations/operations.py
Owners: @getsentry/owners-snuba

reinterpret sharding key?
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
Owners: @getsentry/owners-snuba

fix mypy?
  snuba/snuba_migrations/spans_v2/0001_spans_v2.py
Owners: @getsentry/owners-snuba

update tests
  tests/query/parser/unit_tests/test_parse_populate_resolve_mql.py
Owners: @getsentry/owners-snuba

remove old comment
  snuba/query/mql/parser.py
Owners: @getsentry/owners-snuba

fix test
  tests/datasets/test_spans_payloads.py
Owners: @getsentry/owners-snuba

e to the a to the p
  snuba/clusters/storage_sets.py
  snuba/migrations/group_loader.py
  snuba/migrations/groups.py
  snuba/settings/__init__.py
  snuba/settings/settings_distributed.py
  snuba/settings/settings_test_distributed_migrations.py
  snuba/snuba_migrations/events_analytics_platform/0001_spans_v2.py
Owners: @getsentry/owners-snuba

Undo test change
  tests/datasets/test_spans_payloads.py
Owners: @getsentry/owners-snuba

remove complicated readthrough cache
  snuba/state/cache/abstract.py
  snuba/state/cache/redis/backend.py
  snuba/state/cache/redis/scripts/get.lua
  snuba/state/cache/redis/scripts/set.lua
  snuba/web/db_query.py
  tests/state/test_cache.py
  tests/web/test_db_query.py
Owners: @getsentry/owners-snuba

fix test?
  tests/datasets/test_spans_payloads.py
Owners: @getsentry/owners-snuba

Snapshot test
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-spans-SpansV2MessageProcessor-snuba-spans__1__basic_span.json.snap
Owners: @getsentry/owners-snuba, @getsentry/processing

mypy + test fixes
  tests/state/test_cache.py
  tests/web/test_cache_partitions.py
Owners: @getsentry/owners-snuba

fix fail open test
  tests/state/test_cache.py
Owners: @getsentry/owners-snuba

e to the a to the p
  rust_snuba/src/processors/eap_spans.rs
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__spans_v2__tests__serialization.snap
  snuba/cli/devserver.py
  snuba/datasets/processors/spans_v2_processor.py
  tests/datasets/test_spans_processor.py
Owners: @getsentry/owners-snuba, @getsentry/processing

lint
  rust_snuba/src/processors/eap_spans.rs
Owners: @getsentry/owners-snuba, @getsentry/processing

code
  snuba/query/allocation_policies/bytes_scanned_rejecting_policy.py
  snuba/query/allocation_policies/bytes_scanned_window_policy.py
  snuba/query/allocation_policies/concurrent_rate_limit.py
  snuba/query/allocation_policies/per_referrer.py
  tests/web/test_db_query.py
Owners: @getsentry/owners-snuba

snapshot test
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-spans-EAPSpansMessageProcessor-snuba-spans__1__basic_span.json.snap
Owners: @getsentry/owners-snuba, @getsentry/processing

more eap
  snuba/cli/devserver.py
Owners: @getsentry/owners-snuba

code (#6129)
  snuba/query/allocation_policies/bytes_scanned_rejecting_policy.py
  snuba/query/allocation_policies/bytes_scanned_window_policy.py
  snuba/query/allocation_policies/concurrent_rate_limit.py
  snuba/query/allocation_policies/per_referrer.py
  tests/web/test_db_query.py
Owners: @getsentry/owners-snuba

MORE BUCKETS
  rust_snuba/src/processors/eap_spans.rs
Owners: @getsentry/owners-snuba, @getsentry/processing

eap test
  rust_snuba/src/processors/snapshots/rust_snuba__processors__eap_spans__tests__serialization.snap
Owners: @getsentry/owners-snuba, @getsentry/processing

MORE BUCKETS
  snuba/snuba_migrations/events_analytics_platform/0001_spans_v2.py
Owners: @getsentry/owners-snuba

Fix tests
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__snuba-spans-.snap
  rust_snuba/src/processors/spans.rs
Owners: @getsentry/owners-snuba, @getsentry/processing

Define the models for the new Events Analytics Platform (#6126)
  snuba/clusters/storage_sets.py
  snuba/migrations/group_loader.py
  snuba/migrations/groups.py
  snuba/migrations/table_engines.py
  snuba/settings/__init__.py
  snuba/settings/settings_distributed.py
  snuba/settings/settings_test_distributed_migrations.py
  snuba/snuba_migrations/events_analytics_platform/0001_spans_v2.py
  snuba/utils/schemas.py
Owners: @getsentry/owners-snuba

ref(snuba-deletes): Basic delete API
  snuba/clickhouse/formatter/query.py
  snuba/clickhouse/query.py
  snuba/clusters/cluster.py
  snuba/datasets/configuration/issues/storages/search_issues.yaml
  snuba/web/converters.py
  snuba/web/delete_query.py
  snuba/web/views.py
  tests/test_search_issues_api.py
Owners: @getsentry/owners-snuba, @getsentry/issues

remove prints
  snuba/clusters/cluster.py
Owners: @getsentry/owners-snuba

fix(transactions): Select transactions entity when using profiler id
  snuba/query/snql/discover_entity_selection.py
  tests/fixtures.py
  tests/test_snql_api.py
Owners: @getsentry/owners-snuba

Add processor for new spans schema (#6123)
  rust_snuba/src/processors/eap_spans.rs
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__eap_spans__tests__serialization.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-spans-EAPSpansMessageProcessor-snuba-spans__1__basic_span.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__snuba-spans-.snap
  rust_snuba/src/processors/spans.rs
  snuba/cli/devserver.py
  snuba/datasets/processors/spans_v2_processor.py
  tests/datasets/test_spans_payloads.py
  tests/datasets/test_spans_processor.py
  tests/test_spans_api.py
Owners: @getsentry/owners-snuba, @getsentry/processing

Revert "Define the models for the new Events Analytics Platform (#6126)"
  snuba/clusters/storage_sets.py
  snuba/migrations/group_loader.py
  snuba/migrations/groups.py
  snuba/migrations/table_engines.py
  snuba/settings/__init__.py
  snuba/settings/settings_distributed.py
  snuba/settings/settings_test_distributed_migrations.py
  snuba/snuba_migrations/events_analytics_platform/0001_spans_v2.py
  snuba/utils/schemas.py
Owners: @getsentry/owners-snuba

Revert "Add processor for new spans schema (#6123)"
  rust_snuba/src/processors/eap_spans.rs
  rust_snuba/src/processors/mod.rs
  rust_snuba/src/processors/snapshots/rust_snuba__processors__eap_spans__tests__serialization.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__schemas@snuba-spans-EAPSpansMessageProcessor-snuba-spans__1__basic_span.json.snap
  rust_snuba/src/processors/snapshots/rust_snuba__processors__tests__snuba-spans-.snap
  rust_snuba/src/processors/spans.rs
  snuba/cli/devserver.py
  snuba/datasets/processors/spans_v2_processor.py
  tests/datasets/test_spans_payloads.py
  tests/datasets/test_spans_processor.py
  tests/test_spans_api.py
Owners: @getsentry/owners-snuba, @getsentry/processing

fix totals queries
  snuba/clickhouse/formatter/query.py
  snuba/query/data_source/join.py
  snuba/query/formatters/tracing.py
  snuba/query/joins/metrics_subquery_generator.py
  snuba/query/mql/context_population.py
  snuba/query/mql/parser_supported_join.py
  snuba/web/db_query.py
  tests/query/parser/test_formula_mql_query.py
  tests/test_metrics_mql_api.py
Owners: @getsentry/owners-snuba

clean up
  snuba/query/formatters/tracing.py
  snuba/query/joins/metrics_subquery_generator.py
  snuba/web/db_query.py
  tests/test_metrics_mql_api.py
Owners: @getsentry/owners-snuba

fix test
  snuba/query/mql/context_population.py
  tests/query/parser/test_parser.py
  tests/test_metrics_mql_api.py
Owners: @getsentry/owners-snuba

typing
  snuba/query/mql/context_population.py
Owners: @getsentry/owners-snuba

add another test, on_cluster
  snuba/clickhouse/formatter/query.py
  snuba/clickhouse/query.py
  snuba/web/delete_query.py
  tests/clickhouse/test_query_format.py
  tests/test_search_issues_api.py
Owners: @getsentry/owners-snuba

remove randomize_query_id stuff
  snuba/web/db_query.py
Owners: @getsentry/owners-snuba

remove irrelevant test
  tests/web/test_query_cache.py
Owners: @getsentry/owners-snuba

really remove it
  tests/web/test_query_cache.py
Owners: @getsentry/owners-snuba

fix typing
  snuba/clickhouse/formatter/query.py
  snuba/clickhouse/query.py
  snuba/query/__init__.py
  snuba/web/converters.py
  snuba/web/delete_query.py
  snuba/web/views.py
  tests/clickhouse/test_query_format.py
  tests/test_search_issues_api.py
Owners: @getsentry/owners-snuba

CODEOWNERS:

# Use owners-snuba by default
* @getsentry/owners-snuba

# datasets
/snuba/datasets/configuration/issues                @getsentry/issues @getsentry/owners-snuba
/snuba/datasets/configuration/group_attributes      @getsentry/issues @getsentry/owners-snuba
/snuba/datasets/configuration/groupedmessage        @getsentry/issues @getsentry/owners-snuba
/snuba/datasets/configuration/groupassignee         @getsentry/issues @getsentry/owners-snuba
/snuba/datasets/configuration/spans                 @getsentry/performance @getsentry/owners-snuba
/snuba/datasets/configuration/transactions          @getsentry/performance @getsentry/owners-snuba
/snuba/datasets/configuration/functions             @getsentry/profiling @getsentry/owners-snuba
/snuba/datasets/configuration/profiles              @getsentry/profiling @getsentry/owners-snuba
/snuba/datasets/configuration/replays               @getsentry/replay-backend @getsentry/owners-snuba
/snuba/datasets/configuration/metrics               @getsentry/telemetry-experience @getsentry/owners-snuba

# rust_snuba
/rust_snuba @getsentry/owners-snuba @getsentry/processing
/rust_snuba/src/processors/replays.rs @getsentry/replay-backend

# Legal
/LICENSE.md  @getsentry/owners-legal

# Build & Releases
/.github/workflows/release.yml  @getsentry/releases
/.craft.yml                     @getsentry/releases
/docker-compose.gcb.yml         @getsentry/releases
/docker-compose.yml             @getsentry/releases
/docker_entrypoint.sh           @getsentry/releases
/cloudbuild.yaml                @getsentry/releases
/scripts/bump-version.sh        @getsentry/releases
/scripts/post-release.sh        @getsentry/releases
